In [1]:
import pandas as pd

In [2]:
file1 = '~/Documents/coding/PKB-main/PKB-main/data/intermediate/harvard-index/collectors.csv'  ## macOS file location, harvard index collector
harvard_data = pd.read_csv(file1,chunksize=10000,encoding='utf-8',on_bad_lines='skip',engine='python')
harvard_data = pd.concat(harvard_data)
harvard_columns = harvard_data.columns.tolist()
harvard_data.rename(columns={harvard_columns[8]:'labelName'}, inplace=True) ## to avoid special character in colNames

harvard_columns = harvard_data.columns.tolist()   ## load content into list
harvard_data.head()

,ASA Botanist ID,Author Teams:,Author name,B & P Author Abbrev.,Citation as Author,Citation as Collector,Collections in,Collector Teams:,labelName,GUID,...,deathYear,deathYearIsApprox,geographyCombined,geographyISO,title,firstName,middleName,lastName,herbariaCode,institutionUUID
0,127603 botanist,"L. T. Lu & BrachChandani Gupta, S. S. Dash & A...",Brach,Brach,Novon 12(4): 495. 2002,pers. comm.,"1977 (34),2012 (1),2015 (51),2016 (13),2017 (2...",L. T. Lu & BrachA. R. Brach & J. M. BrachA. R....,"Brach, Anthony Robert",http://purl.oclc.org/net/edu.harvard.huh/guid/...,...,NaN,NaN,United States of America|United States of America,['US'],NaN,Anthony,Robert,Brach,{'SYRF'},[]
1,114612 botanist,W. R. Buck & B. C. TanNoguchi & B. C. TanB. C....,B. C. Tan,B.C.Tan,['Authors of Plant Names. Royal Botanic Garden...,"['Index Herbariorum - Collectors T-Z', 'Collec...","[no date] (3),1974 (1),1975 (2),1977 (1),1984 ...","B. C. Tan, E. A. Brown & R. G. CovenyB. C. Tan...","Tan, Benito Ching",http://purl.oclc.org/net/edu.harvard.huh/guid/...,...,2016.0,False,"Philippines, Singapore, United States of Ame...","['PH', 'SG', 'CN', 'MY', 'US', 'ID']",NaN,Benito,Ching,Tan,"{'UBC', 'H', 'SINU', 'B', 'FH'}","['5d6c8b57-9bfb-46e8-960f-f57343ca9729', '4cf9..."
2,125914 botanist,Ormerod & E.W.Wood,E. W. Wood,E.W.Wood,NaN,Index Herbariorum - Collectors T-Z,"1974 (2),1976 (1),1979 (6),1980 (1),1982 (5),1...","D. E. Boufford & E. W. WoodD. E. Boufford, V. ...","Wood, Emily Walker",http://purl.oclc.org/net/edu.harvard.huh/guid/...,...,NaN,NaN,United States of America|Japan,"['US', 'JP']",NaN,Emily,Walker,Wood,"{'TI', 'NCU', 'KYO', 'PE', 'CM', 'MO', 'A', 'C...","['ac8eb8fc-0703-4408-8388-686764b75877', 'ea90..."
3,144144 botanist,Garay & W. KittredgeP. T. Li & W. Kittredge,W. Kittredge,W. Kittr.,['Authors of Plant Names. Royal Botanic Garden...,"Index Herbariorum, ed. 8","[no date] (6),1973 (1),1974 (18),1975 (8),1981...",Garay & W. KittredgeP. T. Li & W. KittredgeW. ...,"Kittredge, Walter Tobey",http://purl.oclc.org/net/edu.harvard.huh/guid/...,...,NaN,NaN,United States of America|United States of America,['US'],NaN,Walter,Tobey,Kittredge,"{'NEBC', 'GH', 'AMES'}","['648a5b5f-0421-44fd-8dd3-82add535bc54', 'd56b..."
4,126030 botanist,NaN,NaN,NaN,NaN,"Index Herbariorum, ed. 8",NaN,"M. A. Sherwood, D. T. Plas, D. Gregory & G. A....","Cacavio, Gennaro J.",http://purl.oclc.org/net/edu.harvard.huh/guid/...,...,NaN,NaN,United States of America,['US'],NaN,Gennaro,J.,Cacavio,{'GH'},['648a5b5f-0421-44fd-8dd3-82add535bc54']

In [3]:
len(harvard_data)

76391

In [5]:
harvard_columns

['ASA Botanist ID',
 'Author Teams:',
 'Author name',
 'B & P Author Abbrev.',
 'Citation as Author',
 'Citation as Collector',
 'Collections in',
 'Collector Teams:',
 'labelName',
 'GUID',
 'Geography Author',
 'Geography Collector',
 'Holdings',
 'Member of teams/groups',
 'Name',
 'Remarks',
 'Specialty Author',
 'Specialty Collector',
 'Standard/Label Name',
 'Start Date',
 'asa_category',
 'id',
 'Date of birth',
 'Date of death',
 'Author in',
 'First date flourished',
 'Geography Determiner',
 'Specialty Determiner',
 'URL',
 'End Date',
 'Last date flourished',
 'Vernacular name',
 'First date collected',
 'Last date collected',
 'Image',
 'First date received',
 'Last date received',
 'Citation as Determiner',
 'Agent type',
 'Team Members:',
 'Geography',
 'Specialty',
 'birthYear',
 'birthYearIsApprox',
 'deathYear',
 'deathYearIsApprox',
 'geographyCombined',
 'geographyISO',
 'title',
 'firstName',
 'middleName',
 'lastName',
 'herbariaCode',
 'institutionUUID']

In [4]:
file = '~/Documents/coding/pkb/b.csv'  ## macOS file location, harvard index collector
b = pd.read_csv(file,chunksize=10000,encoding='utf-8',on_bad_lines='skip',engine='python')
b = pd.concat(b)
b_columns = b.columns.tolist()
b.head()

,id,Standard/Label Name,birthYear,deathYear,birthYearIsApprox,geographyISO,firstName,middleName,lastName,B & P Author Abbrev.,Name
0,89438,Shin. Sato,NaN,NaN,NaN,DE,Shinya,NaN,Sato,Shin. Sato,"Sato, Shinya, Shinya Sato"
1,64680,E. J. Hoffman,NaN,NaN,NaN,NaN,Emily,J.,Hoffman,E. J. Hoffman,"Hoffman, Emily J., Emily J. Hoffman"
2,34653,D. W. Stevenson,1942.0,NaN,False,US,Dennis,William,Stevenson,D. W. Stev.,"Stevenson, Dennis William, Dennis William Stev..."
3,42819,D. Müller-Doblies,1938.0,NaN,False,DE,Dietrich,NaN,Müller-Doblies,D. Müll.-Doblies,"Müller-Doblies, Dietrich, Dietrich Müller-Do..."
4,82862,Boutroux,NaN,NaN,NaN,NaN,A.,NaN,Boutroux,Boutroux,"Boutroux, A., A. Boutroux"

In [8]:
len(b)

76496

In [7]:
set(b['id']).difference(set(harvard_data['id']))

{2404,
 3696,
 3757,
 3898,
 4531,
 4880,
 5776,
 5902,
 6781,
 7312,
 7451,
 7899,
 8591,
 8603,
 8690,
 9626,
 10161,
 10470,
 11364,
 11598,
 11882,
 12534,
 12661,
 12914,
 13006,
 14298,
 14363,
 14448,
 15369,
 16332,
 17798,
 19095,
 19261,
 19761,
 20197,
 20488,
 20747,
 21656,
 21763,
 22270,
 23383,
 24707,
 24818,
 25218,
 27013,
 27927,
 29278,
 29870,
 30892,
 30956,
 34177,
 34870,
 38348,
 39242,
 39496,
 39841,
 39953,
 40058,
 40072,
 40544,
 41405,
 42089,
 42175,
 42189,
 42266,
 43628,
 44136,
 44661,
 46478,
 46913,
 47249,
 47738,
 48024,
 48178,
 64326,
 70285,
 72152,
 75156,
 75223,
 75858,
 76020,
 77275,
 77542,
 77759,
 79567,
 80027,
 80410,
 86540,
 86639,
 86664,
 86695,
 86750,
 86760,
 86766,
 86802,
 86809,
 88158,
 88307,
 88443,
 88445,
 89062,
 89203,
 90351,
 90777,
 90855}